In [1]:
# Importing Libraries
import numpy as np
import pandas as pd

In [2]:
# Create DataFrame using Pandas
df = pd.read_csv('data/housing.csv')

In [3]:
# Grouping and Counting based on 'ocean_proximity'
df.groupby(['ocean_proximity']).count()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
ocean_proximity,,,,,,,,,
<1H OCEAN,9136,9136,9136,9136,9034,9136,9136,9136,9136
INLAND,6551,6551,6551,6551,6496,6551,6551,6551,6551
ISLAND,5,5,5,5,5,5,5,5,5
NEAR BAY,2290,2290,2290,2290,2270,2290,2290,2290,2290
NEAR OCEAN,2658,2658,2658,2658,2628,2658,2658,2658,2658

In [4]:
# Mapping for ocean proximity
ocean_proximity_mapping = {
    '<1H OCEAN': 0,
    'INLAND': 1,
    'ISLAND': 2,
    'NEAR BAY': 3,
    'NEAR OCEAN': 4
}

In [5]:
df['ocean_proximity_indexed'] = df['ocean_proximity'].map(ocean_proximity_mapping)

In [6]:
df.set_index('ocean_proximity_indexed', inplace=True)

In [7]:
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
ocean_proximity_indexed,,,,,,,,,,
3,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
3,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df.groupby(['ocean_proximity_indexed']).count()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
ocean_proximity_indexed,,,,,,,,,,
0,9136,9136,9136,9136,9034,9136,9136,9136,9136,9136
1,6551,6551,6551,6551,6496,6551,6551,6551,6551,6551
2,5,5,5,5,5,5,5,5,5,5
3,2290,2290,2290,2290,2270,2290,2290,2290,2290,2290
4,2658,2658,2658,2658,2628,2658,2658,2658,2658,2658

In [ ]:
Pareto Principle : 80 - Training , 20 - Not Training ( For Testing)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)
X_train
y_train
X_test
y_test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [ ]:
X -> ? ==> Features
y -> ? ==> Label

In [41]:
X = df[["longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","ocean_proximity_indexed"]]

KeyError: "['ocean_proximity_indexed'] not in index"

In [30]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
ocean_proximity_indexed,,,,,,,,,,
3,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
3,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
1,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
1,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
1,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
1,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
1,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [28]:
X.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
ocean_proximity_indexed,,,,,,,,
3,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
3,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462

In [17]:
y = df['median_house_value']

In [14]:
y.head(5)

ocean_proximity_indexed
3    452600.0
3    358500.0
3    352100.0
3    341300.0
3    342200.0
Name: median_house_value, dtype: float64

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [38]:
X_train.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
ocean_proximity_indexed,,,,,,,,
0,-118.28,33.98,19.0,883.0,313.0,726.0,277.0,0.9809
4,-122.23,37.46,33.0,2643.0,464.0,1015.0,427.0,4.2232
0,-118.26,33.79,42.0,1162.0,264.0,1044.0,241.0,3.5488
1,-119.26,35.87,24.0,1590.0,390.0,1686.0,372.0,1.6469
0,-121.96,37.54,14.0,5106.0,1207.0,2738.0,1108.0,3.9909

In [37]:
X_test.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
ocean_proximity_indexed,,,,,,,,
1,-119.01,36.06,25.0,1505.0,NaN,1392.0,359.0,1.6812
1,-119.46,35.14,30.0,2943.0,NaN,1565.0,584.0,2.5313
3,-122.44,37.80,52.0,3830.0,NaN,1310.0,963.0,3.4801
0,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376
4,-121.93,36.62,34.0,2351.0,NaN,1063.0,428.0,3.7250

In [39]:
y_train.head(5)

ocean_proximity_indexed
0    121400.0
4    363700.0
0    205600.0
1     47600.0
0    236000.0
Name: median_house_value, dtype: float64

In [40]:
y_test.head(5)

ocean_proximity_indexed
1     47700.0
1     45800.0
3    500001.0
0    218600.0
4    278000.0
Name: median_house_value, dtype: float64