In [1]:
# Importing Libraries
import numpy as np
import pandas as pd

In [2]:
# Create DataFrame using Pandas
df = pd.read_csv('data/housing.csv')

In [3]:
# Grouping and Counting based on 'ocean_proximity'
df.groupby(['ocean_proximity']).count()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
ocean_proximity,,,,,,,,,
<1H OCEAN,9136,9136,9136,9136,9034,9136,9136,9136,9136
INLAND,6551,6551,6551,6551,6496,6551,6551,6551,6551
ISLAND,5,5,5,5,5,5,5,5,5
NEAR BAY,2290,2290,2290,2290,2270,2290,2290,2290,2290
NEAR OCEAN,2658,2658,2658,2658,2628,2658,2658,2658,2658

In [4]:
# Mapping for ocean proximity
ocean_proximity_mapping = {
    '<1H OCEAN': 0,
    'INLAND': 1,
    'ISLAND': 2,
    'NEAR BAY': 3,
    'NEAR OCEAN': 4
}

In [5]:
df['ocean_proximity_indexed'] = df['ocean_proximity'].map(ocean_proximity_mapping)

In [6]:
df.set_index('ocean_proximity_indexed', inplace=True)

In [7]:
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
ocean_proximity_indexed,,,,,,,,,,
3,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
3,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
3,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
3,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df.groupby(['ocean_proximity_indexed']).count()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
ocean_proximity_indexed,,,,,,,,,,
0,9136,9136,9136,9136,9034,9136,9136,9136,9136,9136
1,6551,6551,6551,6551,6496,6551,6551,6551,6551,6551
2,5,5,5,5,5,5,5,5,5,5
3,2290,2290,2290,2290,2270,2290,2290,2290,2290,2290
4,2658,2658,2658,2658,2628,2658,2658,2658,2658,2658